*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    width: 100px;
    height: 100px;
   background-color: blue;
}
.drop-area{
    width: 800px;
    height: 300px;
    border: 1px solid #aaa;
    background-color: #ddd;
    margin: 50px auto;

}